<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/constants.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Flash</title>
</head>
<body>
    <div class="container-flow">
        <!--MENU NAVBAR-->
        <div th:replace="fragments/main :: main-menu"></div>
        <!--MAIN CONTENT-->
        <div class="row justify-content-center mt-5">
          <div class="col-8">
            <form>
              <h5 class="font-weight-bold">Upload new template</h5>
              <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" id="" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control" name="" id="" cols="30" rows="8" placeholder="Enter description"></textarea>
              </div>
              <div class="form-group">
                <label for="">Select project</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
              <button type="submit" class="btn blue-flash-b white-flash-c btn-block text-truncate">upload</button>
            </form>
          </div>
        </div>
    </div>
    <!--LOGIN MODAL-->
    <th:block th:replace="fragments/main :: main-login-modal"></th:block>

    <th:block th:replace="fragments/main :: main-bootstrap-scripts"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.9.1/jszip.min.js" integrity="sha512-amNoSoOK3jIKx6qlDrv36P4M/h7vc6CHwiBU3XG9/1LW0ZSNe8E3iZL1tPG/VnfCrVrZc2Zv47FIJ7fyDX4DMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/dc6611e35b.js" crossorigin="anonymous"></script>
    <script src="/js/flask-packages/main.js" type="module"></script>
    <script src="/js/main.js" type="module"></script>
</body>
</html>