<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/constants.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Flash</title>
</head>
<body>
    <div class="container-flow">
        <!--MENU NAVBAR-->
        <div th:replace="fragments/main :: main-menu"></div>
        <!--MAIN CONTENT-->
        <div class="row justify-content-center mt-5">
          <!--1º COLUMN-->
          <div class="col-lg-2 mr-lg-3 text-center">
            <img src="/img/user-img.jpg" alt="" width="250px" height="250px" class="img-fluid rounded-circle mx-auto d-block">
            <small class="text-primary">Change profile image</small>
          </div>
          <!--2º COLUMN-->
          <div class="col-lg-3 black-flash-c p-5 p-lg-2">
            <form action="#" th:object="${UserObject}">
              <p class="font-weight-bold">User information</p>
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="" placeholder="Name" name="name" th:value="*{name}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Surname</label>
                <input type="text" class="form-control" id="" placeholder="Surname" name="surname" th:value="*{surname}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control text-truncate" id="" placeholder="Surname" name="email" th:value="*{email}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea type="text" class="form-control " placeholder="Enter the description" name="description" th:value="*{description}"></textarea>
              </div>
              <button type="submit" class="btn blue-flash-b white-flash-c btn-block text-truncate">Update information</button>
            </form>
          </div>
          <!--3º COLUMN-->
          <div class="col-lg-3 black-flash-c p-5 p-lg-2">
            <form>
              <p class="font-weight-bold">Change password</p>
              <div class="form-group">
                <label for="">Current password</label>
                <input type="password" class="form-control" id="" placeholder="Current password">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="" placeholder="New password">
              </div>
              <div class="form-group">
                <label for="">Repeat password</label>
                <input type="password" class="form-control" id="" placeholder="Repeat password">
              </div>
              <button type="submit" class="btn blue-flash-b white-flash-c btn-block text-truncate">Change password</button>
            </form>
          </div>
        </div>
    </div>
    <!--LOGIN MODAL-->
    <th:block th:replace="fragments/main :: main-login-modal"></th:block>

    <th:block th:replace="fragments/main :: main-bootstrap-scripts"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.9.1/jszip.min.js" integrity="sha512-amNoSoOK3jIKx6qlDrv36P4M/h7vc6CHwiBU3XG9/1LW0ZSNe8E3iZL1tPG/VnfCrVrZc2Zv47FIJ7fyDX4DMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/dc6611e35b.js" crossorigin="anonymous"></script>
    <script src="/js/flask-packages/main.js" type="module"></script>
    <script src="/js/main.js" type="module"></script>
</body>
</html>