<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/constants.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Flash</title>
</head>
<body>
    <div class="container-flow">
        <!--MENU NAVBAR-->
        <div th:replace="fragments/main :: main-menu"></div>
        <!--MAIN CONTENT , FORM AND PACKAGE SELECTOR-->
        <div class="row justify-content-center">
            <!--FORM-->
            <div class="col-lg-5 border-right flex-column p-4 mt-4">
                <form>
                    <p class="font-weight-bold">Project</p>
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control text-truncate" placeholder="Enter the name">
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea type="text" class="form-control text-truncate" placeholder="Enter the description - README.txt"></textarea>
                    </div>
                    <p class="font-weight-bold">Profiles configuration</p>
                    <div class="form-group">
                        <label for="">Developer</label>
                        <input type="text" class="form-control text-truncate" placeholder="Enter the database address for your developer profile">
                    </div>
                    <div class="form-group">
                        <label for="">Testing</label>
                        <input type="text" class="form-control text-truncate" placeholder="Enter the database address for your developer profile">
                    </div>
                    <div class="form-group">
                        <label for="">Production</label>
                        <input type="text" class="form-control text-truncate" placeholder="Enter the database address for your developer profile">
                    </div>
                  </form>
            </div>
            <!--PAKAGES-->
            <div class="col-lg-5 p-4 mt-4">
                <div class="d-flex justify-content-between">
                    <p class="font-weight-bold">Packages</p>
                    <p data-toggle="modal" data-target=".bd-example-modal-lg" id="modal-button"><i class="fas fa-plus-square"></i></p>
                </div>
                <div class=" mt-3 border-danger border" id="packages-container">
                    <!--PACKAGES SELECTED-->
                                    
                </div>
                <!--PACKAGE POP UP WINDOW-->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Flask Packages</h5>
                        </div>
                        <div class="modal-body" id="packages-options-container">
                            <!--PACKAGES GO HERE-->
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <!--GENERATE PROJECT AND CANCEL BUTTONS-->
        <div class="row justify-content-center">
            <div class="col-lg-3  mt-3 ">
                <div class=" align-items-center d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mr-2">Generate</button>
                    <button type="button" class="btn btn-outline-dark">&nbsp Cancel &nbsp</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/main :: main-bootstrap-scripts"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/dc6611e35b.js" crossorigin="anonymous"></script>
    <script src="/js/flask-packages/main.js" type="module"></script>
</body>
</html>