<!DOCTYPE html>
<html lang="en">
<head th:replace="templates/main :: main-head">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
   <div class="container-flow h-100 ">
        <!--MENU NAVBAR-->
        <div th:replace="templates/main :: main-menu"></div>
        <!--MAIN CONTENT-->
        <div class="row blue-flash-b justify-content-center h-100">
            <!--Left div-->
            <div class="col-lg-6 p-4 white-flash-c">
                <div class="pt-sm-5">
                    <p class="display-3">Make your project easy to <span class="font-weight-bold">Build</span></p>
                    <p class="font-weight-light">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley
                    </p>
                    <button type="button" class="btn btn-outline-light font-weight-bold rounded-pill">New project</button>
                </div>
            </div>
            <!--Right div-->
            <div class="col-lg-4  d-none d-lg-block  p-5 text-center white-flash-c">
                <img src="/img/home-icon.svg" alt="" class="img-fluid">
                <h3 class="font-weight-bold">1000</h3>
                <p class="font-weight-light">coders has visited this page</p>
            </div>
        </div>
   </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>