<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/main :: main-head">
    </th:block>
</head>
<body>
   <div class="container-flow h-100 blue-flash-b">
        <!--MENU NAVBAR-->
        <div th:replace="fragments/main :: main-menu"></div>
        <!--MAIN CONTENT-->
        <div class="row blue-flash-b justify-content-center">
            <!--Left div-->
            <div class="col-lg-6 p-4 white-flash-c d-flex">
                <div class="pt-sm-5">
                    <p class="display-3 pt-sm-5">Make your project easy to <span class="font-weight-bold">Build</span></p>
                    <p class="font-weight-light">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley
                    </p>
                    <button type="button" class="btn btn-outline-light font-weight-bold rounded-pill">New project</button>
                </div>
            </div>
            <!--Right div-->
            <div class="col-lg-4  d-none d-lg-block  p-5 text-center white-flash-c">
                <img src="/img/home-icon.svg" alt="" class="img-fluid">
                <h3 class="font-weight-bold">1000</h3>
                <p class="font-weight-light">coders has visited this page</p>
            </div>
        </div>
   </div>
    <th:block th:replace="fragments/main :: main-bootstrap-scripts"></th:block>
</body>
</html>